<nav class="navbar d-flex navbar-light bg-light p-3">
  <h5 class="fw-normal">Wikinimous</h5>

  <div class="d-flex">
    <a class="btn btn-primary" href="/articles/new">New Article</a>
  </div>
</nav>

<div class="container w-50 p-3">
  <% @articles.each do |article| %>
    <h2><%= link_to article.title, article_path(article.id), id: "no-decoration" %></h2>
    <h5 class="font-roboto fw-light"><%= truncate(article.content, length: 50, separator: '', omission: '...') %></h5>
  <% end %>
</div>
